@font-face {
    font-family: 'Whitney-Light';
    src: url('/fonts/Whitney-Light.woff') format('woff');
}

@font-face {
    font-family: 'Whitney-Bold';
    src: url('/fonts/Whitney-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Whitney-Normal';
    src: url('/fonts/Whitney-Semibold.woff') format('woff');
}