.form {
    background   : linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
    border-radius: 10px;

    &__inner {
        background-image: url("../img/cars.png");
        background-repeat: no-repeat;
        background-position: right;
    }

    &__content-inner {
        padding-left: 70px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    &__title {
        font-family: $light;
        font-weight: 600;
        font-size  : 34px;
        line-height: 45px;
        color      : #FFFFFF;
        margin-bottom: 46px;
        max-width: 570 / 1200 * 100%;
    }
}