.header {
    background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);

    &__wrapper {
        max-width    : 1260px;
        margin       : 0 auto;
        padding-top  : 36px;
        padding-left : 30px;
        padding-right: 30px;

        @media (max-width:720px) {
            // max-width: 720px;
        }
    }

    &__top {
        width: 100%;
        @include flex;

    }

    &__logo-container {
        width: 147px / 1200px * 100%;
        @include flex
    }

    &__logo-img {
        width: 37px;
    }

    &__logo-title {
        width: 95px;
    }

    &__nav {
        @include flex;
        width      : 261px / 1200px * 100%;
        color      : white;
        font-size  : 18px;
        font-weight: 325;
        line-height: 23px;
        font-family: $light;
    }

    &__nav-about {
        margin-right: 56px;
        color       : white;
    }

    &__nav-login {
        position: relative;
        color   : white;

        &::before {
            content          : '';
            position         : absolute;
            background-image : url("img/login.svg");
            background-repeat: no-repeat;
            width            : 24px;
            height           : 24px;
            right            : 55px;
        }

        &::after {
            content          : '';
            position         : absolute;
            background-image : url("img/login-2.svg");
            background-repeat: no-repeat;
            width            : 9px;
            height           : 9px;
            right            : 63px;
            top              : 6px;
        }
    }

    &__main {
        @include flex(row, space-between, wrap);
        align-items: flex-start;
        margin-top : 95px;

        @media (max-width:1260px) {
            justify-content: center;
        }
    }

    &__content-container {
        max-width: 527 / 1200 * 100%;
        @include flex(column, flex-start, nowrap, flex-start);
        margin-top: 43px;

        @media (max-width:1260px) {
            max-width  : 100%;
            order      : 1;
            align-items: center;
        }
    }

    &__content-title {
        font-family: $light;
        font-weight: 600;
        font-size  : 50px;
        line-height: 120%;
        color      : white;
        @include m0p0;
    }

    &__content-about {
        font-family: $light;
        font-weight: 350;
        font-size  : 24px;
        line-height: 31px;
        color      : white;
        margin-top : 30px;
    }

    &__content-btn {
        margin-top   : 60px;
        margin-bottom: 20px;
    }

    &__content-img-container {
        background-image: url("img/auto.svg");
        width           : 670px;
        height          : 442px;
    }
}

.btn {
    @extend %btn
}